# Laravel
/.phpunit.cache
/.phpunit.result.cache
/vendor
/node_modules
/storage/
public/storage

# Environment
.env
.env.backup
.env.production
auth.json

# Laravel Mix / Vite
/public/build
/public/hot

# Ignore everything in public
public/*
!public/index.php
!public/.htaccess
!public/favicon.ico

# Allow this specific CSS file
!public/resource/admin/assets/css/style.css

# IDE files
/.idea
/.vscode
/.fleet

# Logs
npm-debug.log
yarn-error.log

# Homestead
Homestead.json
Homestead.yaml
