<IfModule mod_rewrite.c>
    RewriteEngine On

    # Handle Authorization header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Redirect trailing slash if not a real directory
    RewriteCond %{REQUEST_FILENAME} !-d

    # Send all non-existing files/directories to Laravel
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>